* {
    box-sizing: border-box;
}

body {
    display: flex;
}

.participants {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    background-color: #08AEEA;
    background-image: linear-gradient(146deg, #08AEEA 0%, #2af5b2 100%);
}

.user {
    border: solid black;
    padding: 10px;
    list-style-position: inside;
    width: 80%;    
}
.main-area {
    display: flex;
    flex-direction: column;
    border: solid grey;
    width: 100%;
    height: 100vh;
}
#messages {
    flex-grow: 1;
    overflow-y: scroll;
}

.message {
    border: solid black;
    padding: 10px;
}

#form-container {
    display: flex;
    flex-shrink: 0;
    align-self: center;
    padding: 10px;
    width: 100%;
    background: #63CCC7;
}

#form-container input {
    flex-grow: 1;
}

#message-form {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #63CCC7;;
  border-bottom: 6px solid #63CCC7;;
  width: 80%;
  height: 80%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.message_title {
    display: flex;
    margin-bottom: 5px;
}
  
.message_title h4 {
    font-weight: 600;
    margin-right: 20px;
  }

.message_title span {
      color: grey;
      margin: 20px;
}

.message {
      list-style-position: inside;
      list-style-type: none;
}

.material-icons {
    color: #52E0E5;
}