* {
    box-sizing: border-box;
}

body {
    display: flex;
}

.user-list {
    width: 30%;
    background-color: #08AEEA;
    background-image: linear-gradient(146deg, #08AEEA 0%, #2af5b2 100%);
}

.main-area {
    display: flex;
    flex-direction: column;
    border: solid grey;
    width: 100%;
    height: 100vh;
}
#messages {
    flex-grow: 1;
    overflow-y: scroll;
}

.message {
    border: solid black;
    padding: 10px;
}

#form-container {
    display: flex;
    flex-shrink: 0;
    border: solid black;
    align-self: center;
    padding: 10px;
    margin: 5px;
    width: 100%;
    background: #63CCC7;
}

#form-container input {
    flex-grow: 1;
}

#message-form {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

/* #share_location {
    align-self: flex-end;
} */

.message_title {
    display: flex;
    margin-bottom: 5px;
}
  
.message_title h4 {
    font-weight: 600;
    margin-right: 20px;
  }

  .message_title span {
      color: grey;
      margin: 20px;
  }

  li {
      list-style-position: inside;
      list-style-type: none;
  }