.chat-container {
    display: grid;
    grid-template-columns: 300px auto;
    height: 98vh;
}

.user-list {
    border: solid black;
    text-align: center;
}

.main-area {
    display: grid;
    border: solid black;
}

#message-form {
    grid-row-start: 12;
    display: grid;
    margin: auto;
    grid-template-columns: 3fr 1fr 1fr;
    text-align: center;
}

input {
    height: 20px;
}