* {
    box-sizing: border-box;
}

body {
    display: flex;
}

.user-list {
    width: 25%;
}

.main-area {
    display: flex;
    flex-direction: column;
    border: solid black;
    width: 100%;
    height: 98vh;
    background: #63A396;
}
#messages {
    flex-grow: 1;
}
#form-container {
    display: flex;
    flex-shrink: 0;
    border: solid black;
    align-self: center;
    padding: 10px;
    margin: 5px;
    width: 100%;
    background: grey;
}

#form-container input {
    flex-grow: 1;
}

#message-form {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

#share_location {
    align-self: flex-end;
}
.message_title {
    display: flex;
    margin-bottom: 5px;
    border: solid black;
}
  
.message_title h4 {
    font-weight: 600;
    margin-right: 10px;
  }

  .message_title span {
      color: grey;
  }

  li {
      list-style-position: inside;
      list-style-type: none;
  }